// IMPORT PARTIALS
@import './partials/variables.scss';
@import './partials/reset.scss';
@import './partials/typography.scss';
@import './partials/interactive.scss';
@import './partials/layout.scss';


//UTILITY
.flex{
    display: flex;
}
.sp-bw{
    justify-content: space-between;
}
.al-cnt{
    align-items: center;
}