a{
    
    font-size: 12px;
    font-weight: 700;
}

button{
    background-color: transparent;
    padding: 10px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    max-height: 50px;
}